@font-face {
  font-family: EBMain;
  src: local(EBMain), url("/fonts/EBMain.ttf");
}

@font-face {
  font-family: "Saturn Boing";
  src: local("Saturn Boing"), url("/fonts/saturn_boing.ttf");
}

@font-face {
  font-family: StatusPlz;
  src: local(StatusPlz), url("/fonts/statusplz.ttf");
}

@font-face {
  font-family: "The Font Against Giygas";
  src: local("The Font Against Giygas"), url("/fonts/gasfont.ttf");
}

body {
  text-align: center;
  background-color: #f80000;
  color: #f8f8f8;
  font-family: EBMain, sans-serif;
  font-size: 32px;
}

pre {
  margin: 0;
}

tr {
  vertical-align: top;
}

a:link, a:visited, a:hover {
  color: #f8f8f8;
}

#left {
  text-align: left;
  position: fixed;
  top: 0px;
  left: 0px;
  padding: 16px;
  margin: 16px;
}

#title {
  font-family: "The Font Against Giygas", sans-serif;
  font-weight: normal;
  text-align: center;
  font-size: 44px;
  text-transform: uppercase;
}

#titleLink {
  text-decoration: none;
}

#title1 {
  text-shadow: #000 1px 1px, #000 -1px 1px, #000 -1px -1px, #000 1px -1px,
  #000 0 2px, #000 0 3px, #000 0 4px, #000 0 5px, #000 0 6px, #000 0 7px,
  #000 0 8px, #000 0 9px, #000 0 10px, #000 0 11px, #000 0 12px, #000 0 13px,
  #000 0 14px, #000 0 15px, #000 0 16px, #000 0 17px, #000 0 18px, #000 0 19px,
  #000 0 20px, #000 0 21px, #000 0 22px;
  color: #fff;
}

#title2 {
  text-shadow: #fff 1px 1px, #fff -1px 1px, #fff -1px -1px, #fff 1px -1px;
  color: #d8a820;
}

.window {
  background-color: #101010;
  text-align: left;
  border-style: solid;
  border-width: 16px;
  border-color: transparent;
  border-image: image-url("window_border.png") 16;
}

#middle {
  font-family: StatusPlz, monospace;
  font-size: 16px;
  padding: 16px;
  margin: 16px auto;
  width: 50%;
}

#right {
  position: fixed;
  top: 0px;
  right: 0px;
  padding: 16px;
  display: none;
  margin: 16px;
}
