$red: #f80000;
$white: #f8f8f8;
$black: #101010;
$scale: 2;
$font-size-raw: 8 * $scale;
$font-size: $font-size-raw * 1px;

@font-face {
  font-family: EBMain;
  src: local(EBMain), url("/fonts/EBMain.ttf");
}

@font-face {
  font-family: "Saturn Boing";
  src: local("Saturn Boing"), url("/fonts/saturn_boing.ttf");
}

@font-face {
  font-family: StatusPlz;
  src: local(StatusPlz), url("/fonts/statusplz.ttf");
}

@font-face {
  font-family: "The Font Against Giygas";
  src: local("The Font Against Giygas"), url("/fonts/gasfont.ttf");
}

body {
  text-align: center;
  background-color: $red;
  color: $white;
  font-family: EBMain, sans-serif;
  font-size: $font-size;
}

tr {
  vertical-align: top;
}

a {
  &:link, &:visited, &:hover {
    color: $white;
  }
}

#forkme {
  position: fixed;
  top: 0;
  right: 0;
}

#left {
  text-align: left;
  position: fixed;
  top: 0px;
  left: 0px;
  padding: $font-size;
  margin: $font-size;
}

#title {
  font-family: "The Font Against Giygas", sans-serif;
  font-weight: normal;
  text-align: center;
  font-size: 44px;
  text-transform: uppercase;
}

#titleLink {
  text-decoration: none;
}

#title1 {
  $shadow: $black 1px 1px, $black -1px 1px, $black -1px -1px, $black 1px -1px;
  @for $i from 2px through 44px {
    $shadow: append($shadow, $black 0 $i);
  }
  text-shadow: $shadow;
  color: #fff;
}

#title2 {
  text-shadow: $white 1px 1px, $white -1px 1px, $white -1px -1px, $white 1px -1px;
  color: #d8a820;
}

#nav {
  font-size: $font-size * 2;
}

#address, #goto {
  color: $black;
}

.window {
  font-family: StatusPlz, sans-serif;
  background-color: $black;
  text-align: left;
  border-style: solid;
  border-width: $font-size;
  border-color: transparent;
  border-image: image-url("window_border.png") 16;
}

#middle {
  font-size: $font-size;
  margin: $font-size auto;
  width: 50%;
}

table {
  color: $black;
}

tr {
  &:nth-child(odd) {
    background-color: #e0e0e0;
  }

  &:nth-child(even) {
    background-color: #c0c0c0;
  }
}

td {
  padding: 4px;
}

.tile {
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: pixelated;
}

#right {
  position: fixed;
  top: 0px;
  right: 0px;
  display: none;
  margin: $font-size;
}
