$red: #f80000;
$white: #f8f8f8;
$black: #101010;

@font-face {
  font-family: EBMain;
  src: local(EBMain), url("/fonts/EBMain.ttf");
}

@font-face {
  font-family: "Saturn Boing";
  src: local("Saturn Boing"), url("/fonts/saturn_boing.ttf");
}

@font-face {
  font-family: StatusPlz;
  src: local(StatusPlz), url("/fonts/statusplz.ttf");
}

@font-face {
  font-family: "The Font Against Giygas";
  src: local("The Font Against Giygas"), url("/fonts/gasfont.ttf");
}

body {
  text-align: center;
  background-color: $red;
  color: $white;
  font-family: EBMain, sans-serif;
  font-size: 32px;
}

tr {
  vertical-align: top;
}

a:link, a:visited, a:hover {
  color: $white;
}

#left {
  text-align: left;
  position: fixed;
  top: 0px;
  left: 0px;
  padding: 16px;
  margin: 16px;
}

#title {
  font-family: "The Font Against Giygas", sans-serif;
  font-weight: normal;
  text-align: center;
  font-size: 44px;
  text-transform: uppercase;
}

#titleLink {
  text-decoration: none;
}

#title1 {
  text-shadow:
  $black 1px 1px, $black -1px 1px, $black -1px -1px, $black 1px -1px,
  $black 0 2px, $black 0 3px, $black 0 4px, $black 0 5px, $black 0 6px,
  $black 0 7px, $black 0 8px, $black 0 9px, $black 0 10px, $black 0 11px,
  $black 0 12px, $black 0 13px, $black 0 14px, $black 0 15px, $black 0 16px,
  $black 0 17px, $black 0 18px, $black 0 19px, $black 0 20px, $black 0 21px,
  $black 0 22px;
  color: #fff;
}

#title2 {
  text-shadow: $white 1px 1px, $white -1px 1px, $white -1px -1px, $white 1px -1px;
  color: #d8a820;
}

#address, #goto {
  color: $black;
}

.window {
  background-color: $black;
  text-align: left;
  border-style: solid;
  border-width: 16px;
  border-color: transparent;
  border-image: image-url("window_border.png") 16;
}

#middle {
  font-family: StatusPlz, monospace;
  font-size: 16px;
  padding: 16px;
  margin: 16px auto;
  width: 50%;
}

#right {
  position: fixed;
  top: 0px;
  right: 0px;
  padding: 16px;
  display: none;
  margin: 16px;
}
