// Place all the styles related to the ROMInfo controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#romInfoTable {
  color: #101010;

  > tr:nth-child(odd) {
    background-color: #e0e0e0;
  }

  > tr:nth-child(even) {
    background-color: #c0c0c0;
  }

  > tr > td {
    padding: 4px;
  }
}
