// Place all the styles related to the ROMInfo controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#romInfoTable {
  color: #000;

  tr:nth-child(odd) {
    background-color: #eee;
  }

  tr:nth-child(even) {
    background-color: #ccc;
  }

  td {
    padding: 4px;
  }
}
